.Menu {
  display: block;
  position: relative;
  width: 100%;
  flex-direction: column;
  margin: auto;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  > li {
    border-top: 1px solid #ccc;
    padding: 15px 0px;
    &:first-child {
      border-top: none;
    }
  }
  li {
    display: block;
    width: 100%;
    position: relative;
    a {
      display: block;
      position: relative;
      width: 100%;
      font-size: 38px;
      line-height: 1;
      font-family: inherit;
      font-weight: 600;
      padding-right: 50px;
      transition: 0.3s;
      color: var(--blue-color);
    }
    /*LEVEL 2*/
    ul {
      display: block;
      position: relative;
      width: 100%;
      height: 0px;
      padding-left: 20px;
      transition: 0.6s;
      overflow: hidden;
      li {
        padding: 5px 0px;
        &:first-child {
          padding: 14px 0px 5px 0px;
        }
        &:last-child {
          padding: 5px 0px 14px 0px;
        }
        a {
          font-size: 18px;
          font-weight: 400;
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: -18px;
            top: 7px;
            width: 7px;
            height: 7px;
            border-radius: 6px;
            background: var(--blue-color);
          }
        }
        .More {
          width: 38px;
          height: 18px;
        }
      }
    }
  }
}

.More {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 38px;
  height: 38px;
  position: absolute;
  color: inherit;
  z-index: 2;
  right: 0px;
  transition: 0.6s;
  transform: rotate(0deg);
  user-select: none;
  color: var(--blue-color);
  cursor: pointer;
  svg {
    width: 40%;
    pointer-events: none;
  }
}

li {
  &.Open {
    > .More {
      transform: rotate(180deg);
      color: var(--yellow-color);
    }
    > a {
      color: var(--yellow-color);
    }
  }
}
