.Header {
  position: fixed;
  width: 100%;
  padding: 14px 0px;
  color: var(--white);
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  z-index: 10;
  &.fix {
    color: var(--text-color);
    background: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}
