$input_height: 50px;
$input_border_radius: 8px;
$input_font_size: 16px;

.Label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  .LabelText {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
  }
  .LabelInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .LabelError {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    font-size: 12px;
    color: var(--red-color);
    padding-top: 6px;
    height: auto;
    transition: var(--cubic);
    &.active {
      height: 18px;
    }
  }
}

.Input {
  width: 100%;
  height: $input_height;
  padding: 14px 18px;
  border-radius: $input_border_radius;
  border: 1px solid #ccc;
  user-select: none;
  transition: var(--cubic);
  background: none;
  outline: none;
  font-size: $input_font_size;
  &::placeholder {
    color: rgb(163, 163, 163);
    font-size: inherit;
    font-family: inherit;
    opacity: 1;
    transition: var(--cubic);
  }

  &:focus {
    border: 1px solid var(--yellow-color);
    &::placeholder {
      opacity: 0;
    }
  }
  &.input--textarea {
    height: 100px;
    resize: none;
  }
}

.Invalid {
  border: 1px solid var(--red-color);
  color: var(--red-color);
}

.Valid {
  border: 1px solid var(--green-color) !important;
  color: var(--text-color);
}
