@import-normalize;

:root {
  --text-color: #222;
  --green-color: #229631;
  --red-color: #c22727;
  --yellow-color: #ec891f;
  --white: #fff;
  --black: #000;
  --gray: #eee;
  --footer-background-color: #373737;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

ul {
  list-style: none;
}

main.main {
  display: flex;
  margin-bottom: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}
